@use '../../styles/vars' as *;
@use '../../styles/typograpy' as *;

.tools {
    padding-top: 0;
}

.tools__title {
    margin-bottom: 40px;
}

.tools__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.tools__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    height: 100%;
    min-height: 160px;
    padding: 20px;
    border: 1.5px solid $black;
    @include h4;
    transition: background-color $transition, color $transition;

    &:hover {
        color: $white;
        background-color: $black;
    }
}

.tools__icon {
    flex: none;
    width: 24px;
    height: 24px;
}

@media (max-width: $tablet) {
    .tools__list {
        grid-template-columns: 1fr;
    }

    .tools__item {
        min-height: 0;
    }
}
